#myFooter {
    background-color: rgb(57, 72, 76);
    color: white;
    width: 100%;

}

#myFooter .logo img {
    height: 70px;
    width: 70px;
    margin-top: 10px;
}

#myFooter .footer-copyright {
    background-color: rgb(0, 0, 0, 0.6);
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}


#myFooter .footerText h3 {
    font-family: Ubuntu;
    text-align: center;
}

#myFooter .footerText p {
    font-size: 14px;
    font-family: Ubuntu;
    text-align: center;
}


#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}


#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .gmail:hover {
    color: #ef1a1a;
}

#myFooter .github:hover {
    color: black;
}



@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}


/* anchor */

.anchor {
    display: block;
    height: 115px;
    /*same height as header*/
    margin-top: -115px;
    /*same height as header*/

}

.header {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);

}

.navbar-nav {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.navbar-nav li {
    float: none;
    display: inline-block;
}

.meni-item {

    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    width: 110px;
    margin-left: 20px;
    text-align: center;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(57, 72, 76, 0.8);
    -webkit-box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.3);
}

.brand>a>img {

    width: 50px;
    height: 50px;

}

.cvDownloadIcon a {
    margin-top: 5px;
    color: #000;
    font-family: Ubuntu;

}

.meni-item a {
    color: white;
    border-radius: 5px;
}

.meni-item a:hover {
    background-color: rgb(57, 72, 76) !important;
    color: white;

}

.meni-item:hover {
    background-color: rgb(57, 72, 76) !important;
}

.cvDownload a {
    color: #000;
}

.cvDownloadIcon {
    margin-left: 3px;
}

.language img {
    width: 40px;
    height: 40px;
    ;
    cursor: pointer;

}

.language:hover a {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.cvDownloadIcon:hover a {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.brand:hover a {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.language a,
li {
    list-style: none;
}

.bg-body {
    background-image: url(images/background.png);
    height: 650px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text {
    background-color: rgb(0, 0, 0, 0.8);
    display: block;
    width: 50%;
}

.text h1 {
    margin-top: 50px;
    text-align: center;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 73px;
    color: #EAEAEA;
}

.text h3 {
    text-align: center;
    font-family: Ubuntu;
    font-size: 40px;
    color: #EAEAEA;
    padding: 10px;
}

.text a {
    color: #B5DE7F;
}

.helloText {

    font-family: Ubuntu;

}

.cardText h4 {
    font-family: Ubuntu;
    font-weight: bold;
}

.cardText p {
    font-family: Ubuntu;
    font-size: 16px;
}

.introHeading {
    background: #ddf0c4;
    padding: 0px;
    transform: skew(-20deg);

}

.introHeading h4 {
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    transform: skew(20deg);
}

.page {
    height: 100%;
    margin-bottom: 30px;
    background-color: whitesmoke;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.24);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.24);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.24);
}

/* Profile image */

.img-circle {

    margin-top: 10px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.24);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.24);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.24);
    -moz-border-radius: 190px;
    -webkit-border-radius: 190px;
    border-radius: 190px;
}

.data {

    font-family: Ubuntu;
    color: #000;
    font-size: 16px;
}

.emailInfo {
    color: white !important;
}

.cardImg {
    width: 550px;
    height: 550px;
    background-color: #DDF0C4;
    position: relative;
    right: 50px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.24);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.24);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.24);

}

.infoName h2 {
    padding-bottom: 10px;
    text-align: center;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 26px;
}

.emailInfo {
    color: #000 !important;
}

.asset {
    margin-top: 20px;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;

}

.asset i {
    color: green;

}

.about h1 {
    font-family: Ubuntu;
    text-align: center;
}

.coder h2 {
    text-align: center;
}

.coder {
    padding-right: 150px;
}

.chartCoder h2 {
    font-family: Ubuntu;

}

.pieChart {
    margin-top: 70px;
}

.pieChart h2 {
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: bold;
}


.chartDesigner {
    font-family: Ubuntu;
    margin-left: 50px;
    font-size: 16px;
}

.designer h2 {
    text-align: center;

}

.chartCoder {
    font-family: Ubuntu;
    font-size: 16px;
}

.chart h1 {
    font-family: Ubuntu;
    text-align: center;
}

.skillChart {
    margin-top: 20px;
}

/*certificates*/

.certificates h1 {
    font-family: Ubuntu;
    text-align: center;
}



/* Projects */



.projectCard img {
    max-width: 300px !important;
    max-height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    box-sizing: border-box;

}

.projectCard {
    width: 320px;

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.24);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.24);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.24);
    margin-top: 15px;
    margin-bottom: 30px;
}

.projectCard h3 {
    text-align: center;
    font-family: Ubuntu;
    font-weight: bolder;
    font-size: 20px;
    color: #000;
}

.column p {
    text-align: center;
}

.projects h1 {
    font-family: Ubuntu;
    text-align: center;

}

.projects {
    margin-top: 40px;
}

.projects p {
    font-family: Ubuntu;
    font-size: 14px;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 13px;
}

.tag {
    border-radius: 5px;
    word-wrap: none;
    margin: 3px;
    padding: 4px 6px;
    font-family: Ubuntu;
    color: white;
    text-align: center;
    font-size: 12px;
}

.javascriptTag {
    background-color: #e8d44d;
}

.javaTag {
    background-color: #507e9c;
}

.angularTag {
    background-color: #d6002f;
}

.bootstrapTag {
    background-color: #533b78;
}

.typescriptTag {
    background-color: #0175c9;
}

.mysqlTag {
    background-color: #00718b;
}

.fireBaseTag {
    background-color: #4a4a4a;
}

.htmlTag {
    background-color: #d45314;
}

.cssTag {
    background-color: #eb9710;
}

.adobeIllustratorTag {
    background-color: #251200;
}

.adobeXDTag {
    background-color: #2d001d;
}

.adobePhotoshopTag {
    background-color: #4dc6f6;
}

.certificatesHeading {
    background: #ddf0c4;
    padding: 0px;
    transform: skew(-20deg);
    margin-right: 15px;
}

.certificatesHeading p {
    transform: skew(20deg);
}

.certificatesData {
    margin-top: 50px;
    background-color: white;
}

.certificatesData ol {
    color: #707070;
    list-style-type: none;

}


.certificatesData li p {
    font: 14px/1.5 Ubuntu;
    font-size: 16px;
    color: rgb(51, 51, 51);

}

.big-bold {
    position: relative;
    font: bold 35px/1.5 Ubuntu;
    transform: skew(20deg);
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.big-bold-text {
    transform: skew(20deg);
    position: relative;
    bottom: 7px;
    font-family: Ubuntu;
    font-size: 18px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    padding-left: 12px;
    padding-bottom: 5px;
    padding-top: 5px;

}


@media screen and (max-width: 768px) {


    .bg-body {
        width: 100%;
        height: 100%;
        background-image: url(images/background.png);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }

    .language {
        float: left !important;
    }

    .navbar-brand {
        transform: translate(-50%, -50%);
        left: 50%;
        position: absolute;
    }

    .infoName h2 {
        text-align: center;
    }

    .page {
        height: 100%;
        background-color: whitesmoke;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .cardImg {
        width: 350px;
        height: 100%;
        margin: 5px;
        background-color: #DDF0C4;
        -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.24);
        -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.24);
        box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.24);
    }

    .cardImg img {
        padding: 20px;
        height: 220px;
        width: 220px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .data {

        font-family: Ubuntu;
        color: #000;
        font-size: 14px;
    }


    .asset {
        margin-bottom: 10px;

    }

    .assetSr i {
        padding-left: 5px;
    }

    .assetSr {
        padding-left: 3px;
        font-size: 14px;
    }

    .meta-chart img {
        width: 100%;
        margin-bottom: 50px;
    }

    .designer {
        display: none;
    }

    .coder {
        display: none;
    }

    .icon-bar {
        background-color: RGBA(6, 0, 0, 0.35);
    }

    .meni-item {
        font-family: Ubuntu;
        font-size: 16px;
        margin: 5px;
        width: 300px;
        height: 50px;
        background-color: rgba(57, 72, 76, 0.8);


    }

    .cardText {
        margin-top: 30px;
    }

    .introHeading h4 {
        font-size: 14px;
    }

    .cardText p {
        font-size: 14px;
    }

    .text h1 {
        font-size: 25px;
    }

    .text h3 {
        font-size: 21px;
    }

    .text {
        background-color: rgb(0, 0, 0, 0.8);
        padding: 5px;
        width: 100%;
        display: grid;
    }


    .big-bold {
        font-size: 16px;
    }

    .big-bold-text {
        transform: skew(20deg);
        position: static !important;
        font-family: Ubuntu;
        font-size: 14px;
        color: rgb(51, 51, 51);
        font-weight: bold;
    }

    .certificatesHeading {
        background: #ddf0c4;

        transform: skew(-20deg);
    }

    .certificatesData li>p {
        font-size: 14px;
    }

    .certificatesData {
        margin-top: 5px;
    }

    .w3-animate-fading {
        animation: fading 10s infinite
    }

    @keyframes fading {
        0% {
            opacity: 0
        }

        50% {
            opacity: 1
        }

        100% {
            opacity: 0
        }
    }

    .w3-animate-opacity {
        animation: opac 0.8s
    }

    @keyframes opac {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    .w3-animate-top {
        position: relative;
        animation: animatetop 0.4s
    }

    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }

        to {
            top: 0;
            opacity: 1
        }
    }

    .w3-animate-left {
        position: relative;
        animation: animateleft 0.4s
    }

    @keyframes animateleft {
        from {
            left: -300px;
            opacity: 0
        }

        to {
            left: 0;
            opacity: 1
        }
    }

    .w3-animate-right {
        position: relative;
        animation: animateright 0.4s
    }

    @keyframes animateright {
        from {
            right: -300px;
            opacity: 0
        }

        to {
            right: 0;
            opacity: 1
        }
    }

    .w3-animate-bottom {
        position: relative;
        animation: animatebottom 0.4s
    }

    @keyframes animatebottom {
        from {
            bottom: -300px;
            opacity: 0
        }

        to {
            bottom: 0;
            opacity: 1
        }
    }

    .w3-animate-zoom {
        animation: animatezoom 0.6s
    }

    @keyframes animatezoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    .w3-animate-input {
        transition: width 0.4s ease-in-out
    }

    .w3-animate-input:focus {
        width: 100% !important
    }
}

/* @media (min-width: 769px) and (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    
    .collapse.in{
        display:block !important;
    }

    .meni-item{
        font-family: Ubuntu;
        font-size: 15px;
        font-weight: bold;
        width: 90px;
        text-align: center;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        cursor: pointer;
        border-radius: 5px;
        background-color: rgba(57,72,76, 0.8);
        -webkit-box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.3);
        -moz-box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.3);
        box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.3);
    }
  
    .bg-body {
        background-image: url(images/background.png);
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .text {
        background-color: rgb(0, 0, 0, 0.8);
        display: block;
        width: 50%;
    }
    
    .text h1 {
        margin-top: 50px;
        text-align: center;
        font-family: Ubuntu;
        font-weight: bold;
        font-size: 45px !important;
        color: #EAEAEA;
    }
    
    .text h3 {
        text-align: center;
        font-family: Ubuntu;
        font-size: 35px;
        color: #EAEAEA;
        
    }

  } */